{% extends 'base.html.twig' %}

{% block title %}Mes adresses e-commerce{% endblock %}

{% block content %}
    <h1>Mes adresses</h1>
    C'est dans cette espace que vous gérerez vos adresses
    <hr>
    -<a href=" {{path('app_acount_password')}}"> Modifier mon mot de passe <br></a>
    -Ajouter mes adresse <br>
    -Mes commandes <br>
{% endblock %}